.features {
	padding-top: 50px;
	padding-bottom: 39px;
	background-image: linear-gradient(180deg, #111518 90.8%, #fff 0);
	position: relative;

	@media screen and(min-width:768px) {
		padding-top: 60px;
		padding-bottom: 50px;
		position: relative;
	}

	@media screen and(min-width:1200px) {
		background-image: linear-gradient(180deg, #111518 85.8%, #fff 0);
		padding-top: 120px;
		padding-bottom: 130px;
		position: relative;
	}

}

.features-border {
	@media screen and(min-width:1200px) {
		border: 1px solid $Secondary-text-color;
		width: 100%;
		position: absolute;
		top: 279px;
	}

}

.features-wrraper {
	@media screen and(min-width:1200px) {
		padding-left: 153px;
	}
}

.features-titel {
	font-weight: 800;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
	letter-spacing: 0.03em;
	color: $White-color;
	margin-bottom: 43px;

	@media screen and(min-width:768px) {
		font-size: 26px;
		text-align: left;
	}

	@media screen and(min-width:1200px) {
		font-size: 46px;
		text-align: left;
		margin-bottom: 160px;
	}
}

.features-list {
	display: flex;

	@media screen and(max-width:1199px) {
		flex-direction: column;
		padding-left: 90px;
		margin-bottom: 189px;
	}

	@media screen and(max-width:767px) {
		align-items: center;
		flex-direction: column;
		margin-bottom: 50px;
	}

	@media screen and(min-width:1200px) {
		margin-bottom: 164px;
	}

	&::after{
		position: absolute;
		right: 0;
		top: 65%;
		content: "";
		display: flex;
		background-image:  url(../../img/mob/features.jpg);

		@media screen and(min-width:768px){
			background-image:  url(../../img/tab/features-tab.jpg);
			width: 384px;
			height: 280px;
			top: 50%;
		}
		@media screen and(min-width:1200px){
			background-image:  url(../../img/dek/features-dek.jpg);
			width: 674px;
			height: 502px;
			left: 0;
			top: 51%;
		}
		opacity: 0.5;
		background-repeat: no-repeat;
		width: 112px;
		height: 137px
	}
}

.features-item {

	@media screen and(max-width:1199px) {
		 position: relative;

		&:not(:last-child) {
			padding-bottom: 5px;
			@media screen and(min-width:768px) {
				padding-bottom: 30px;
			}
			&::before {
				position: absolute;
				display: flex;
				left: -26px;
				bottom: -7px;
				content: "";
				width: 2px;
				height: 100%;
				background-color: $White-color;

				@media screen and(min-width:768px) {
					left: -46px;
				}
			}
		}
	}
}

.features-subtitel {
	font-size: 14px;
	line-height: 2;
	text-transform: uppercase;
	color: $White-color;
	position: relative;

	&::before {
		position: absolute;
		top: 50%;
		left: -34px;
		transform: translateY(-50%);
		content: "";
		display: flex;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: $Accent;

		@media screen and(max-width:1199px){
			margin-bottom: 5px;
		}

		@media screen and(min-width:768px) {
			left: -54px;
		}

		@media screen and(min-width:1200px) {
			top: -60px;
			left: 0;
		}

	}

	@media screen and(min-width:1200px) {
		margin-bottom: 25px;
		font-size: 20px;
		line-height: 1.4;
	}
}

.features-box {
	@media screen and(min-width:768px) and(max-width:1199px) {
		display: flex;
	}

}

.features-wrap {
	@media screen and(min-width:768px) {
		&:not(:last-child) {
			margin-right: 50px;

			@media screen and(min-width:1200px) {
				margin-right: 20px;
				padding-bottom: 25px;
			}
		}

	}

}

.features-subject {
	font-size: 12px;
	line-height: 1.7;
	color: $Accent;
	display: flex;
	align-items: center;
	width: 151px;

	&::before{
		content: "";
		display: flex;
		margin-right: 8px;
		width: 15px;
		height: 2px;
		background-color: $Accent;
	}

	@media screen and(max-width:1199px){
		margin-bottom: 5px;
	}

	@media screen and(max-width:767px){
		margin-bottom: 10px;
	}

	@media screen and(min-width:1200px) {
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 1.6;
	}
}

.features-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.7;
	color: $Secondary-text-color;
	width: 110px;


	@media screen and(min-width:1200px) {
		font-size: 18px;
		line-height: 1.5;
		width: 180px;
	}
}

.features-titel__center{
	text-align: center;
	margin-bottom: 30px;

	@media screen and(max-width:767px){
		width: 180px;
		text-align: left;
	}

	@media screen and(min-width:1200px) {
      display: none;
	}
}