.team {
	padding-bottom: 50px;
}

.team-titel {
	font-weight: 800;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.03em;
	margin-bottom: 20px;

	@media screen and(min-width:768px){
		font-size: 26px;
	}

	@media screen and(min-width:1200px){
		font-size: 46px;
		margin-bottom: 50px;
	}
}

.team-wrapper {
	@media screen and(min-width:768px) {
		display: flex;
	}

}

.team-subtitel {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;

	@media screen and(min-width:1200px){
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 15px;
	}
}

.team-img__wrap {
	@media screen and(max-width:767px) {
		margin-right: 40px;
		margin-bottom: 20px;
		max-width: 450px;
	}

	@media screen and(min-width:768px) {
		margin-right: 30px;
	}
}

.team-img {
	@media screen and(min-width:768px) {
		width: 243px;
	}

	@media screen and(min-width:1200px) {
		width: 530px;
	}
}

.team-list {
	margin-bottom: 15px;
	padding-bottom: 27px;
	position: relative;

	@media screen and(min-width:1200px){
		margin-bottom: 20px;
		padding-bottom: 32px;
	}


	&::before {
		content: "";
		display: flex;
		width: 100%;
		height: 1px;
		background-color: $Secondary-text-color;
		margin-bottom: 20px;
		@media screen and(min-width:1200px) {
			margin-bottom: 25px;
		}

	}

}

.team-item {
	display: flex;
	align-items: baseline;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	&:last-child {
		&::after {
			position: absolute;
			content: "";
			display: flex;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 2px;
			background-color: $Accent;

		}
	}
}

.team-icon {
	margin-right: 10px;
}

.team-icon__check {
	width: 17px;
	height: 14px;
}

.team-subtext {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.06em;

	@media screen and(min-width:1200px){
		font-size: 16px;
		line-height: 20px;
	}
}

.team-description-list {
	margin-bottom: 10px;
}

.team-description-item {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.team-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: $Secondary-text-color;

	@media screen and(min-width:1200px){
		font-size: 18px;
		line-height: 28px;
	}

}

.team-link {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: $Accent;

	@media screen and(min-width:1200px){
		font-size: 18px;
		line-height: 28px;
	}
}

.team-titel__center {
	font-size: 26px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;

	@media screen and(min-width:1200px){
		margin-top: 123px;
		font-size: 46px;
	}
}

.guarantee-list {
	padding: 30px 20px;
	background-color: #F1F1F1;

	@media screen and(min-width:768px){
		padding: 30px 65px;
	}

	@media screen and(min-width:1200px){
		padding: 50px 112px;
	}

}

.guarantee-item {
	display: flex;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 23px;

		&::before {
			content: "";
			position: absolute;
			display: flex;
			border: 1px dashed $Secondary-text-color;
			left: 6px;
			bottom: -21px;
			width: 2px;
			height: 100%;
		}
	}

}

.guarantee-label {
	margin-right: 20px;
}

.guarantee-icon {
	width: 14.67px;
	height: 20px;
}

.guarantee-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: #3D3D3D;

	@media screen and(min-width:1200px) {
		font-size: 20px;
		line-height: 28px;
	}
}

.guarantee-text__accent {
	color: $Accent;
}